body {
    background-image: url(backgrounds/bi-background-green.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    background-position-y: -70px;
}

.info {
    margin: 50px 0 solid black;
    text-align: justify;
    color: #050300;
    margin-top: -10%;
    margin-right: 20%;
    margin-left: 25%;
    padding: 10px;

    background-color: #a5fd99;
    box-shadow: 8px black;
    text-shadow: 1px lightgray;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.navebar {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
    margin-top: 30px;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    height: 50px;
    font-size: 18px;
    background-color: #a5fd99;
    margin-right: 90%;
    text-align: center;
    text-decoration-style: none;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 0;
    color: aliceblue;
}

.menu:hover {
    background-color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: darkgreen;

}

h4 {
    font-size: 20px;
    font-style: italic;
}

p {
    font-size: 16px;
    text-align: justify;
}

.img {
    height: 80px;
    width: 60px;
    position: absolute;
    left: 85%;
    top: -30px;

}

img {
    object-fit: cover;
}

.foot {
    text-align: center;
    background-color: lightgreen;
    color: gray;
}

.infom {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
}