
.navebar {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
    margin-top: 30px;
}

.menu {
    text-decoration: none;
    list-style-type: none;
    height: 50px;
    font-size: 18px;
    background-color: chartreuse;
    margin-right: 90%;
    text-align: center;
    text-decoration-style: none;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 0;
    color: aliceblue;
}
.menu:hover{
    background-color: white;
    text-decoration: none;
}
a {text-decoration: none;
    text-align: center;
    color: darkgreen;

}

img {
    height: 300px;
    width: 800px;
    position: absolute;
    left: 15%;
    top: -30px;
}

