.navebar {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
    margin-top: 30px;
}


.menu {
    text-decoration: none;
    list-style-type: none;
    height: 50px;
    font-size: 18px;
    background-color: #a5fd99;
    margin-right: 90%;
    text-align: center;
    text-decoration-style: none;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 0;
    color: aliceblue;
}

.menu:hover {
    background-color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: darkgreen;

}

img {
    height: 300px;
    width: 800px;
    margin-top: 50px;
    left: 30%;
    top: -30px;
    position: absolute;
}

.pfolio {
    display: flex;

    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-evenly;

    position: relative;



}



.postimg {
    border: 3px solid red;
    padding-left: 0%;
    padding-right: 0px;
    margin-top: 50px;
    margin-left: -200px;
    height: 150px;
    width: 150px;
    position: relative;



}

p {
    padding-right: 40%;
    padding-left: 10px;
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

/* .two {
    width: 100px;
    height: 100px;
} */